flask[async]
requests==2.32.2
gunicorn==20.1.0
beautifulsoup4
pandas
regex
uvicorn==0.22.0
openpyxl
queuelib
gevent==22.10.2
XlsxWriter
Flask-SocketIO
aiohttp
quart
Hypercorn
playwright
plotly
matplotlib
zipfile36
reportlab
kaleido
supabase
futures
secure-smtplib
seaborn
wordcloud
scikit-learn
