flask[async]
requests==2.32.2
gunicorn==20.1.0
selenium
webdriver-manager
beautifulsoup4
pandas
regex
uvicorn==0.22.0
openpyxl
queuelib
gevent==22.10.2
XlsxWriter
Flask-SocketIO
aiohttp
quart
Hypercorn
playwright
plotly
matplotlib
Flask-Caching
dash
zipfile36
reportlab
